$asset-pipeline: false !default;

$body-color: #FFF;
$body-background-color: #0072b4;
$form-label-color: #FFF;
$form-description-color: #FFF;
$form-input-color: #000;

$form-error-input-border-color: #F00;
$form-error-input-background-color: #FFC9C9;

$btn-send-color: #fff;
$btn-send-bg: #00a1e0;
$btn-send-border: #00a1e0;