/*.buildpath
/*.project
/*.prefs
/*.*project
/.idea/
/.settings/
/*/**/Thumbs.db
/.DS_Store
/npm-debug.log
/rev-manifest.json
/node_modules
/platforms
/hooks
/plugins
/build
/engine
/bourbon
/src/vendor
.env